@page
@model TowerOfDaedelus_WebApp.Pages.CharacterSheets.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].OccupationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].PhysicalDescriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].Mind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].Agility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].Constitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].Soul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].TraitPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].EnergyPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].IsVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].PreviouslyNPC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].AvatarURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].IsReviewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharSheet[0].LastChanged)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CharSheet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccupationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalDescriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Constitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraitPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviouslyNPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvatarURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReviewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChanged)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CharacterID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CharacterID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CharacterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
